<form [formGroup]="contactoForm" (ngSubmit)="onSubmit()" class="compact">
  <section class="form-block">
    <div class="form-group">
      <label for="nombre">
        Nombre:
      </label>
      <input type="text" formControlName="nombre" id="nombre" placeholder="Nombre del contacto">
      <input type="text" formControlName="apellidos" id="apellidos" placeholder="Apellido del contacto">
    </div>
    <div class="form-group">
      <label>Emails del contacto</label>
      <button (click)="nuevoMail()" type="button" class="btn btn-icon btn-primary">+</button>
    </div>
    <div class="form-group" formArrayName="emails" *ngFor="let email of emails.controls; let i=index">
      <label>
        Email:
      </label>
      <input type="text" [formControlName]="i" placeholder="Email del contacto">
    </div>
    <div class="form-group">
      <label>Telefonos del contacto</label>
      <button (click)="nuevoTelefono()" type="button" class="btn btn-icon btn-primary">+</button>
    </div>
    <div class="form-group" formArrayName="telefonos" *ngFor="let telefono of telefonos.controls; let i=index">
      <label>
        Telefono o extensión:
      </label>
      <input type="text" [formControlName]="i" placeholder="Telefono o extensión">
    </div>
    <div class="form-group">
      <label>Áreas del contacto</label>
      <button (click)="nuevoArea()" type="button" class="btn btn-icon btn-primary">+</button>
    </div>
    <div class="form-group" formArrayName="areas" *ngFor="let area of areas.controls; let i=index">
      <label>
        Área:
      </label>
      <input type="text" [formControlName]="i" placeholder="Área">
    </div>
    <div class="form-group">
      <label for="empresa">
        Empresa:
      </label>
      <input type="text" formControlName="empresa" id="empresa" placeholder="Empresa">
    </div>
    <button type="submit" [disabled]="!contactoForm.valid" class="btn btn-primary">Guardar</button>
  </section>

</form>