<div class="main-container">
  <div class="alert alert-app-level">
      
  </div>
  <app-toolbar (visible)="visible=!visible"></app-toolbar>
  <div class="content-container">
      <div class="content-area">
          <router-outlet></router-outlet>
      </div>
      <nav class="sidenav" *ngIf="visible">
          <section class="sidenav-content">
            <section class="nav-group collapsible" *ngFor="let sector of sectores">
              <input id="{{sector.sector}}" type="checkbox" checked>
              <label for="{{sector.sector}}">{{sector.sector}}</label>
              <ul class="nav-list">
                <li *ngFor="let enlace of sector.apartados"><a class="nav-link" href="#">{{enlace.nombre}}</a></li>
              </ul>
            </section>
          </section>>
      </nav>
  </div>
</div>