<div class="main-container">
  <div class="alert alert-app-level">
      
  </div>
  <header class="header header-2">
    <div class="branding">
      <span class="nav-link">
          <clr-icon shape="home"></clr-icon>
          <span class="title">Web Integración</span>
      </span>
   </div>
    <div class="header-nav">
        <a class="nav-link nav-text">Monitorización</a>
        <a class="nav-link nav-text active">Administración</a>
      </div>
      <div class="header-actions">
        <clr-dropdown>
          <button class="nav-text" clrDropdownTrigger>
              rcastellor@ext.aragon.es
              <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
              <a clrDropdownItem>Acerca de</a>
              <a clrDropdownItem>Log out</a>
          </clr-dropdown-menu>
      </clr-dropdown>
    </div>     
  </header>
  <nav class="subnav" >
    <a (click)="visible=!visible"><clr-icon shape="bars"></clr-icon></a>
    <ul class="nav">
      <li class="nav-item">
        <a class="active nav-link">Aplicaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Usuarios</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
      <div class="content-area">
          <app-edicion-aplicaciones></app-edicion-aplicaciones>
      </div>
      <nav class="sidenav" *ngIf="visible">
          <section class="sidenav-content">
            <section class="nav-group collapsible" *ngFor="let sector of sectores">
              <input id="{{sector.sector}}" type="checkbox" checked>
              <label for="{{sector.sector}}">{{sector.sector}}</label>
              <ul class="nav-list">
                <li *ngFor="let enlace of sector.apartados"><a class="nav-link" href="#">{{enlace.nombre}}</a></li>
              </ul>
            </section>
          </section>>
      </nav>
  </div>
</div>