<table class="table table-compact">
    <thead>
        <tr>
            <th class="left">Aplicacion</th>
            <th>PRE</th>
            <th>CENTRAL</th>
            <th>PROTOTIPO</th>
            <th>CLINICO</th>
            <th>BARBASTRO</th>
            <th>SERVET</th>
            <th>TERUEL</th>
            <th>CALATAYUD</th>
            <th>ALCAÑIZ</th>
            <th>HUESCA</th>
            <th>ROYO</th>
            <th>PROVINCIAL</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let app of aplicaciones">
            <td class="left">{{app.aplicacion}}</td>
            <td>{{app.pre}}</td>
            <td>{{app.central}}</td>
            <td>{{app.prototipo}}</td>
            <td>{{app.clinico}}</td>
            <td>{{app.barbastro}}</td>
            <td>{{app.servet}}</td>
            <td>{{app.teruel}}</td>
            <td>{{app.calatayud}}</td>
            <td>{{app.alcaniz}}</td>
            <td>{{app.huesca}}</td>
            <td>{{app.royo}}</td>
            <td>{{app.provincial}}</td>
        </tr>
    </tbody>
</table>